body{
    display: inline-flex;
    flex-direction: row;

}

.nav{
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}