body{
    width: 900px;
    margin: 0 auto;
    

}

.nav{
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    
    
}

 .box {
     width: 300px;
     margin: 50px;
     
     
 }

 .how{
     width: 300px;

 }

 .place {
     width: 300px;

 }

 .collab {
     width: 300px;
 }

 .footer {
     background-color: black;
     color: white;
     justify-content: space-between;
 }